<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="layout/main.html :: head"></div>
</head>
<body>
<div th:insert="layout/main.html :: navbar"></div>
<div class=" mt-5">
    <div class="offset-3 ">
        <div class="container gx-5 row">
            <div class="card" th:each="item:${tovary}" style="width: 14rem; height: 26rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <strong><p class="card-text text-danger d-flex justify-content-end" th:text="'€'+${item.price}"></p></strong>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>